* {
    padding: 0;
    margin: 0;

}
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
     url('Vegetable.jpg');
    background-size: cover;
} 
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.logo {
    font-size: 2em;
    color: bisque;
    text-decoration: underline;

}
.menubar a{
    padding: 10px 20px ;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    
}
.Register a{
    color: aliceblue;
    text-decoration: none;
    background-color: brown;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.Register a:hover{
    background: transparent;
    border: 2px solid brown;

}
.txt {
    max-width: 950px;
    position: absolute;
    transform: translate(-40%);
    color: wheat;
    top : 50%;
    left :50%;
    text-align: center;
    
}
.txt a{
    background-color: brown;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
}
.txt a:hover{
    background: transparent;
    border: 2px solid brown;
}
.txt h2{
    font-size: 40px;
}
.txt span{
    font-size: 30px;
} 